@import url("https://fonts.googleapis.com/css2?family=Black+And+White+Picture&display=swap");

.roundNumber {
  position: absolute;
  z-index: 1;
  top: 0%;
  left: 16%;
  font-size: 40px;
  font-weight: bold;
  font-family: "Black And White Picture", sans-serif;
  border: 2px solid rgba(50, 50, 50, 0.8);
  background-color: rgba(50, 50, 50, 0.7);
  color: rgb(17, 210, 0);
  -webkit-text-stroke: 1px rgb(24, 118, 0);
  padding: 10px 20px;
  p {
    margin: 5px;
    font-size: 20px;
    text-align: center;
  }
}
